**Introduction**

In [2]:
print("hello world")

hello world

**Python Numbers**

In [3]:
b = 5
print(b, "is of type", type(b))
b = 2.0
print(b, "is of type", type(b))
b = 1+2j
print(b, "is complex number?", isinstance(b, complex))

5 is of type <class 'int'>
2.0 is of type <class 'float'>
(1+2j) is complex number? True

**Arithmetic Operator**

In [4]:
# Addition
print(5+2)

# Subtraction
print(5-2)

# Multiplication
print(5*2)

# Float Point Devision
print(5/2)

# Floor Devision
print(5//2)

#Exponential
print(5**2)

# Modulas
print(5%2)

7
3
10
2.5
2
25
1

**Taking User Input**

In [6]:
name = input("Enter Your Name: ")

Enter Your Name: Pranav

In [7]:
age = input("Enter Your Age: ")

Enter Your Age: 21

In [8]:
name

'Pranav'

In [9]:
age

'21'

**Relational Operator**

In [15]:
x = 9
y = 13

# Here 9 is not grater than 13
print('x > y is', x > y)

# Here 9 is less than 13
print('x < y is', x < y)

# Here 9 is not equal to 13
print('x == y is', x == y)

# Here 9 is not equal to 13
print('x != y is', x != y)

# Here 9 is not grater than or equal to 13
print('x >= y is', x >= y)

# Here 9 is less than 13
print('x <= y is',  x <= y)

x > y is False
x < y is True
x == y is False
x != y is True
x >= y is False
x <= y is True

**Logical Operator**

In [16]:
x = True
y = False

print('x and y is', x and y)
print('x or y', x or y)
print('not x is', not x)

x and y is False
x or y True
not x is False