**Creating a Set**

In [2]:
Days = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months ={"Jan","Feb","Mar"}
Dates = {21,22,17}
print(Days)
print(Months)
print(Dates)

{'Mon', 'Wed', 'Tue', 'Thu', 'Sat', 'Fri', 'Sun'}
{'Feb', 'Jan', 'Mar'}
{17, 21, 22}

**Accessing Values in a Set**

In [3]:
Days = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
for d in Days:
  print(d)

Mon
Wed
Tue
Thu
Sat
Fri
Sun

**Adding Items to a Set**

In [5]:
Days = set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.add("Sun")
print(Days)

{'Mon', 'Wed', 'Tue', 'Thu', 'Sat', 'Fri', 'Sun'}

**Removing Items from a Set**

In [7]:
Days = set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

{'Mon', 'Wed', 'Tue', 'Thu', 'Sat', 'Fri'}

**Union of Sets**

In [8]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["wed","Thur","Fri","Sat","Sun"])
AllDays = DaysA|DaysB
print(AllDays)

{'Mon', 'Wed', 'wed', 'Tue', 'Sat', 'Fri', 'Thur', 'Sun'}

**Intersection of Sets**

In [9]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thur","Fri","Sat","Sun"])
AllDays = DaysA & DaysB
print(AllDays)

{'Wed'}

**Difference of Sets**

In [10]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["wed","Thur","Fri","Sat","Sun"])
AllDays = DaysA - DaysB
print(AllDays)

{'Tue', 'Mon', 'Wed'}

**Compare Sets**

In [12]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])

#check subset
SubsetRes = DaysA <= DaysB

#check superset
SupersetRes = DaysB >= DaysA 

print(SubsetRes)
print(SupersetRes)

True
True