**for loop**

In [1]:
li = [1,3,5,7,9]

#using for loop
for i in li:
  print(i)

1
3
5
7
9

**for loop and range()**

In [3]:
list = [1,3,5,7,9]

# getting the length of the list
length = len(list)

for i in range(length):
  print(i)

0
1
2
3
4

In [4]:
# create empty list
li = []

#run the loop 5 times
for i in range(5):
  a = int(input())
  li.append(a)

print(li)

1
4
7
8
9
[1, 4, 7, 8, 9]

**using split() method**

In [5]:
a = input().split()
print(a)

1 2 3 4 5
['1', '2', '3', '4', '5']

**using list comprehension**

In [6]:
li = [int(x) for x in input().split()]
print(li)

1 2 3 4 5
[1, 2, 3, 4, 5]

**Linear Search Algorithm**

In [7]:
# taking list as user input
li = [int(x) for x in input().split()]

# user input for target value
targetValue = int(input())

# boolean value to check if we found the targetValue
found = False

for i in li:
  if (i == targetValue):
    print(li.index(i))
    found = True
    break

if found is False:
  print(-1)

1 2 4 67 23 12
23
4

**Linear Search through functions**

In [8]:
def linearSearch(li, targetValue):
  for i in li:
    if (i == targetValue):
      return li.index(i)

  return -1

li = [int(x) for x in input().split()]
targetValue = int(input())
print(linearSearch(li, targetValue))

1 4 19 39 61 82
42
-1

**List Comprehension**

In [12]:
numbers = [1,2,3,4]
squares = [n**2 for n in numbers]
print(squares)

[1, 4, 9, 16]

In [13]:
list_a = [1,2,3,4]
list_b = [2,3,4,5]

common_num = [a for a in list_a for b in list_b if a == b]
print(common_num)

[2, 3, 4]

**2D list**

In [14]:
T = [[11,12,5,2], [15,6,10,6],[0,5,11,13],[10,8,12,5],[12,15,8,6]]
for row in T:
  for col in row:
    print(col, end=" ")
  print()

11 12 5 2
15 6 10 6
0 5 11 13
10 8 12 5
12 15 8 6

In [18]:
row = int(input())
col = int(input())
inputL = input().split()
fnlList = [[int(inputL[i*col+ j]) for j in range(col)] for i in range(row)]
print(fnlList)

4
5
11 12 5 2 15 6 10 6 0 5 11 13 10 8 12 5 12 15 8 6
[[11, 12, 5, 2, 15], [6, 10, 6, 0, 5], [11, 13, 10, 8, 12], [5, 12, 15, 8, 6]]