**Tuples, Dictionary, and Sets**

In [25]:
a = (1,2)
b = ("eat", "dinner", "man", "boy")
print(a, b)

(1, 2) ('eat', 'dinner', 'man', 'boy')

In [26]:
print(type(a))

<class 'tuple'>

In [27]:
c = 1,2,3,4,5
print(c)

(1, 2, 3, 4, 5)

In [28]:
e,f = "boy", "man"
print(e)
print(f)

boy
man

**Creating tuple with single element**

In [29]:
a = ("Hamburger")
print(type(a))

<class 'str'>

In [30]:
tuple("Hamberger")

('H', 'a', 'm', 'b', 'e', 'r', 'g', 'e', 'r')

In [31]:
a = ("Hamberger",)
print(type(a))

<class 'tuple'>

In [32]:
myTemp = (1,15,13,18,19,23,4,5,2,3)

print(myTemp[0])
print(myTemp[6])
print(myTemp[-1])

1
4
3

**Slicing Of a Tuple**

In [33]:
print(myTemp[1:4])

(15, 13, 18)

In [34]:
print(myTemp[7:])

(5, 2, 3)

**Tuple Function**

In [35]:
myTemp = (1,2,3,4)

for t in myTemp:
  print(t)

1
2
3
4

In [36]:
10 in myTemp

False

In [37]:
4 in myTemp

True

In [38]:
print(len(myTemp))

4

**Concatenation**

In [39]:
a = (1,2,3,4)
b = (5,6,7,8)

d = a+b
print(d)

(1, 2, 3, 4, 5, 6, 7, 8)

In [40]:
d = (a,b)
print(d)

((1, 2, 3, 4), (5, 6, 7, 8))

In [41]:
print(max(a))

4

In [42]:
e = (1,2,3,5,6)
print(min(e))

1

**Converting a list to a tuple**

In [44]:
myList = [1,2,3,4,5]
myTuple = tuple(myList)
print(myTuple)

(1, 2, 3, 4, 5)

**Task 1 - Giving a variable of inputs and printing them**

In [45]:
def printNum(a,b, *more):
  print(a)
  print(b)
  print(more)

printNum(1,2,3,4,5,5)

1
2
(3, 4, 5, 5)

**Task 2 - Finding sum of a variable number of inputs**

In [49]:
def printNum(a,b,*more):
  sum = a+b
  # Traverse the tuple *more
  for t in more:
    sum = sum + t
  return sum
printNum(1,2,3,4,5,6)

21

In [50]:
def sum_diff(a,b):
  return a+b, a-b
print(sum_diff(1,2))

(3, -1)

**Type Casting in Dictionary**

In [53]:
myList = [("a",1), ("b",2), ("c",3)]
myDictionary = dict(myList)
print(myDictionary)

{'a': 1, 'b': 2, 'c': 3}

**Using Inbuilt .copy() method**

In [54]:
myDict = {"a":1, "b":2, "c":3}
myDict2 = myDict.copy()
print(myDict2)

{'a': 1, 'b': 2, 'c': 3}