**Patterns**

In [18]:
N = int(input())
row = 1
while row <= N:
  col = 1
  while col <= N:
    print("*", end="  ")
    col = col + 1
  row = row + 1
  print()

5
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [19]:
N =int(input())
row = 1
while row <= N:
  col = 1
  while col <= N:
    print(row, end="  ")
    col = col + 1
  row = row + 1
  print()

5
1  1  1  1  1
2  2  2  2  2
3  3  3  3  3
4  4  4  4  4
5  5  5  5  5

In [20]:
N = int(input())
row = 1
while row <= N:
  col = 1
  while col <= N:
    print(col, end ="  ")
    col = col + 1
  row = row + 1
  print()

5
1  2  3  4  5
1  2  3  4  5
1  2  3  4  5
1  2  3  4  5
1  2  3  4  5

In [21]:
N = int(input())
row = 1
while row <= N:
  col = 1
  while  col <= N:
    print(N-col+1, end="  ")
    col = col + 1
  row = row + 1
  print()

5
5  4  3  2  1
5  4  3  2  1
5  4  3  2  1
5  4  3  2  1
5  4  3  2  1

In [22]:
N = int(input())
row = 1
while row <= N:
  col = 1
  while col <= N:
    print(col+row-1, end="  ")
    col = col + 1
  row = row + 1
  print()

5
1  2  3  4  5
2  3  4  5  6
3  4  5  6  7
4  5  6  7  8
5  6  7  8  9

In [23]:
N = int(input())
row = 1
while row <= N:
  col = 1
  while col <= row:
    print(row,end="  ")
    col = col + 1
  row = row + 1
  print()

5
1
2  2
3  3  3
4  4  4  4
5  5  5  5  5

In [24]:
N = int(input())
row = 1
while row <= N:
  col = 1
  while col <= row:
    print(col, end="  ")
    col = col + 1
  row = row + 1
  print()

5
1
1  2
1  2  3
1  2  3  4
1  2  3  4  5

In [25]:
N = int(input())
row = 1
var = 1
while row <= N:
  col = 1
  temp = row
  while col <= row:
    print(temp, end = "  ")
    temp = temp + 1
    col = col + 1
  row = row + 1
  print()

5
1
2  3
3  4  5
4  5  6  7
5  6  7  8  9